.navbar {
    margin-bottom:0px;
    border-radius:0px;
}

.container {
    background-color:#222;
}

.post_link {
    margin-bottom:3px;
}

.foot {
    background-color:#333;
    padding:10px;
    font-size:12px;
    margin-top:20px;
}

.img-responsive {
    margin: 0 auto;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.ruler {
    border-bottom-color: #ffffff;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}