---
title: 'Cryotech Retrieval Services - Home'
layout: default
---
<div class="row">
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                  <div class="panel-heading">Recruitment Status</div>
                  <div class="panel-body">
                    <span class="text-success">Open</span> - <span class="text-warning">5m SP Required</span> 
                    &nbsp;&nbsp;&nbsp;&nbsp;<a href="./apply.html" class="btn btn-info">Apply Now!</a>
                  </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                  <div class="panel-heading">About Cryotech Retrieval Services</div>
                  <div class="panel-body">
                    <img class="img-responsive" src="https://imageserver.eveonline.com/Corporation/98505199_256.png">
                    <br>
                    <span class="text-danger">CEO: </span>Valindil89<br>
                    <br>
                    We provide a needed service in New Eden. Our service is the return of used clones that have been left in space. We know you value these and want their safe return. So we gladly offer this retrieval service, at a small fee.
                    <br><br>
                    /end rp/
                    <br><br>
                    We are a Faction Warfare corp operating in the Gallente Militia. As part of the FEDUP alliance, we are one of the largest galmil alliances out there. 
                    <br><br>
                    Things we Provide:
                    <br><br>
                    <span class="glyphicon glyphicon-ok text-success"></span>&nbsp;&nbsp;&nbsp;Low Sec PVP
                    <br>
                    <span class="glyphicon glyphicon-ok text-success"></span>&nbsp;&nbsp;&nbsp;Access to FEDUP and Galmil wide Fleets.
                    <br>
                    <span class="glyphicon glyphicon-ok text-success"></span>&nbsp;&nbsp;&nbsp;Ships and equipment to get the job done.
                    <br>
                    <span class="glyphicon glyphicon-ok text-success"></span>&nbsp;&nbsp;&nbsp;NULL SEC DANK ISK
                    <br>
                    <span class="glyphicon glyphicon-ok text-success"></span>&nbsp;&nbsp;&nbsp;Discord/TS
                    <br>
                    <span class="glyphicon glyphicon-remove text-danger"></span>&nbsp;&nbsp;&nbsp;Drama
                  </div>
                </div>        
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <h2>Recent Videos:</h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="well well-sm">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe src="https://www.youtube.com/embed/swzQmv9T3yc" frameborder="0" allowfullscreen></iframe>    
                            </div>
                            Azbel Armor Timer    
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="well well-sm">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe src="https://www.youtube.com/embed/eMtcBC2SlL4" frameborder="0" allowfullscreen></iframe>    
                            </div>
                            GalMil fleet moonwalk    
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
        {% for post in site.posts limit:1 %}
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-danger">
                        <div class="panel-heading"><strong>Featured Post:</strong> {{post.title}}</div>
                        <div class="panel-body">
                            {{post.content}}
                            <br>
                            <a class="btn btn-default" href="{{post.url}}">Post Link</a>
                        </div>
                        <div class="panel-footer">
                            {{post.author}} - {{post.date | date_to_long_string}}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-md-12">
                <h2>Recent News:</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!-- This loops through the paginated posts -->
                {% for post in site.posts %}
                    <div class="post_link"><a href="{{post.url}}">[ <small class="text-info">{{post.date | date_to_long_string}}</small> ] {{post.title}} - <span class="text-danger">{{post.author}}</span></a></div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/query.js"></script>
<script type="text/javascript" src="/js/boot.js"></script>
