---
title: 'Jerkasaurus Wrecks Inc. - Home'
layout: default
---
<div class="row">
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                  <div class="panel-heading">Recruitment Status</div>
                  <div class="panel-body">
                    <span class="text-success">Open</span> - <span class="text-warning">20m SP Required</span> 
                    &nbsp;&nbsp;&nbsp;&nbsp;<a href="./apply.html" class="btn btn-info">Apply Now!</a>
                  </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                  <div class="panel-heading">About Jerkasaurus Wrecks Inc.</div>
                  <div class="panel-body">
                    <img class="img-responsive" src="http://image.eveonline.com/Corporation/98326241_256.png">
                    <br>
                    <span class="text-danger">CEO: </span><a target="_blank" href="https://gate.eveonline.com/Profile/GimliTheDestroyer%20Durin">GimliTheDestroyer Durin</a><br>
                    <span class="text-danger">XO: </span><a target="_blank" href="https://gate.eveonline.com/Profile/valindil89">Valindil89</a> - <a target="_blank" href="https://twitter.com/valindil89">Twitter</a></a><br>
                    <span class="text-danger">HR Director: </span><a target="_blank" href="https://gate.eveonline.com/Profile/Weza%20Nagib">Weza Nagib</a><br>
                    <span class="text-danger">Director: </span><a target="_blank" href="https://gate.eveonline.com/Profile/Rhoenin">Rhoenin</a><br>
                    <br>
                    JREX provides unparralled pvp content in New Eden. From BLOPS fleets to Capital fleets, we work to give our members the best content and the best experience. We do this through Faction Warfare as part of the Federation Uprising Alliance. Along with this we have a fetish for corpses, so we have a large and ever growing meat locker. If there are corpses on the field, we will do our best or die trying to get them.
                    <br><br>
                    <span class="glyphicon glyphicon-ok text-success"></span>&nbsp;&nbsp;&nbsp;Low Sec PVP
                    <br>
                    <span class="glyphicon glyphicon-ok text-success"></span>&nbsp;&nbsp;&nbsp;BLOPS & Capital Fleets
                    <br>
                    <span class="glyphicon glyphicon-ok text-success"></span>&nbsp;&nbsp;&nbsp;Experienced Pilots
                    <br>
                    <span class="glyphicon glyphicon-ok text-success"></span>&nbsp;&nbsp;&nbsp;Access to FEDUP and Galmil wide Fleets.
                    <br>
                    <span class="glyphicon glyphicon-ok text-success"></span>&nbsp;&nbsp;&nbsp;Ships and equipment to get the job done.
                    <br>
                    <span class="glyphicon glyphicon-ok text-success"></span>&nbsp;&nbsp;&nbsp;NULL SEC DANK ISK
                    <br>
                    <span class="glyphicon glyphicon-ok text-success"></span>&nbsp;&nbsp;&nbsp;Discord for Comms
                    <br>
                    <span class="glyphicon glyphicon-ok text-success"></span>&nbsp;&nbsp;&nbsp;A relaxed FW enviornment
                    <br>
                    <span class="glyphicon glyphicon-remove text-danger"></span>&nbsp;&nbsp;&nbsp;Drama
                    <br><br>
                    <h4>Things We Look For In A Pilot:</h4>
                    <br>
                    <span class="glyphicon glyphicon-ok text-success"></span>&nbsp;&nbsp;&nbsp; Team Focused
                    <br>
                    <span class="glyphicon glyphicon-ok text-success"></span>&nbsp;&nbsp;&nbsp; Loves to fly in fleets
                    <br>
                    <span class="glyphicon glyphicon-ok text-success"></span>&nbsp;&nbsp;&nbsp; Enjoys time to time small-gang or solo combat
                    <br>
                    <span class="glyphicon glyphicon-ok text-success"></span>&nbsp;&nbsp;&nbsp; Can fly at minimum a covert ops capable ship
                    <br>
                    <span class="glyphicon glyphicon-ok text-success"></span>&nbsp;&nbsp;&nbsp; Is interested in the betterment of the corp
                    <br>
                    <span class="glyphicon glyphicon-ok text-success"></span>&nbsp;&nbsp;&nbsp; Fairly active (Joins fleets, 24/7 not required)
                    <br>
                    <span class="glyphicon glyphicon-ok text-success"></span>&nbsp;&nbsp;&nbsp; Understands that REAL LIFE COMES BEFORE EVE.
                    <br><br>
                    <a target="_blank" href="http://bit.ly/FEDUPDiscord" class="btn btn-lg btn-block btn-primary"><i class="glyphicon glyphicon-flash"></i> Join Discord Server</a>
                  </div>
                </div>        
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <h2>Recent Videos:</h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="well well-sm">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe src="https://www.youtube.com/embed/VG1HxSCuteg" frameborder="0" allowfullscreen></iframe>    
                            </div>
                            GalMil Gnosis Fleet    
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="well well-sm">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe src="https://www.youtube.com/embed/swzQmv9T3yc" frameborder="0" allowfullscreen></iframe>    
                            </div>
                            Azbel Armor Timer    
                        </div>
                    </div>
                        
                    
                    
                </div>
                <br>
            </div>
        </div>
        {% for post in site.posts limit:1 %}
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-danger">
                        <div class="panel-heading"><strong>Featured Post:</strong> {{post.title}}</div>
                        <div class="panel-body">
                            {{post.content}}
                            <br><br>
                            <a class="btn btn-default" href="{{post.url}}">Post Link</a>
                        </div>
                        <div class="panel-footer">
                            {{post.author}} - {{post.date | date_to_long_string}}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-md-12">
                <h2>Recent News:</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!-- This loops through the paginated posts -->
                {% for post in site.posts %}
                    <div class="post_link"><a href="{{post.url}}">[ <small class="text-info">{{post.date | date_to_long_string}}</small> ] {{post.title}} - <span class="text-danger">{{post.author}}</span></a></div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/query.js"></script>
<script type="text/javascript" src="/js/boot.js"></script>
