<div class="row">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">JREX</a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/apply.html">Apply</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tools <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="http://map.cryrs.org">Faction Warfare Map</a></li>
                <li><a href="http://fleet.cryrs.org">Fleet Tool</a></li>
                <li><a href="#">Links Tool (Coming Soon)</a></li>
                <li><a href="#">DSCAN (Planning)</a></li>
                <li><a href="http://cfo.cryrs.org">CFO Calculator</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">External Data <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a target="_blank" href="https://zkillboard.com/corporation/98326241/">Killboard</a></li>
                <li><a target="_blank" href="https://evewho.com/corp/Jerkasaurus%20Wrecks%20Inc./">EveWho</a></li>
                <li><a target="_blank" href="http://evemaps.dotlan.net/corp/Jerkasaurus%20Wrecks%20Inc.">DOTLAN</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Guides <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/writing.html">Writing for JREX?</a></li>
                <li><a href="/guides/newbros-guide-to-null.html">Newbro's Guide to Null</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a target="_blank" href="https://services.cryrs.org">Services</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
</div>
<div class="row">
    <img src="/imgs/jrex.jpg" class="img-responsive">
</div>
<div class="row">
    <div class="navbar navbar-default"></div>
    <br>
</div>
